@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new Fluent Blazor app.

<FluentDesignTheme @rendermode="InteractiveServer" @bind-Mode="@Mode" @bind-OfficeColor="@OfficeColor" StorageName="theme" />

<FluentStack Orientation="Orientation.Vertical" VerticalGap="8">
    <FluentSelect TOption="DesignThemeModes"
                  Label="Theme Mode"
                  Items="@(Enum.GetValues<DesignThemeModes>())"
                  @bind-SelectedOption="@Mode" />

    <FluentSelect TOption="OfficeColor"
                  Label="Office Color"
                  Items="@AllOfficeColors"
                  @bind-SelectedOption="@SelectedOfficeColor" />
</FluentStack>

@code {
    private DesignThemeModes Mode { get; set; } = DesignThemeModes.System;
    private OfficeColor? OfficeColor { get; set; } = Microsoft.FluentUI.AspNetCore.Components.OfficeColor.Default;

    private OfficeColor SelectedOfficeColor
    {
        get => OfficeColor ?? Microsoft.FluentUI.AspNetCore.Components.OfficeColor.Default;
        set => OfficeColor = value;
    }

    private IEnumerable<OfficeColor> AllOfficeColors => Enum.GetValues<OfficeColor>();
}
